@charset "UTF-8";
a {
  text-decoration: none;
}

/* ここからヘッダー　*/
.header {
  height: 70px;
}

.top-header {
  align-items: center;
  height: inherit;
}

.top-header nav {
  display: none;
}

.top-header__cta {
  display: none;
}

.top-header__logo {
  display: inline-block;
  margin: 12px 0;
}

/* ここからfirst-view */
.firstview-wrap {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 720px;
  margin-bottom: 40px;
}

.firstview-wrap__background-img {
  background-image: url(img/fv__bg-sp.svg);
  height: 100%;
  width: auto;
  background-size: cover;
}

.firstview-wrap__contents {
  position: absolute;
  top: 5%;
  left: 5%;
}

.firstview-wrap__contents__cta-btn--pc {
  display: none;
}

.firstview-wrap__contents__ttl {
  font-size: 32px;
  margin-bottom: 25px;
  text-align: left;
}

.firstview-wrap__contents__txt {
  text-align: left;
}

.firstview-wrap__img {
  position: absolute;
  top: 25%;
  width: 100%;
}

.firstview-wrap__img img {
  width: 90%;
}

.firstview-wrap__cta-btn--sp {
  padding: 20px 80px;
  background-color: #E37AB0;
  border-radius: 30px;
  display: inline-block;
  color: white;
}

/* firstview終了 */
/* ここからabout */
.about-wrap {
  background-color: #FFF7FB;
  position: relative;
  height: 420px;
}

.about-wrap__img {
  width: 80%;
  position: absolute;
  top: 30%;
  left: 10%;
}

.about-wrap__txt {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 77%;
  font-size: 16px;
}

/* about終了 */
/* ここからtrouble */
.trouble-wrap {
  text-align: center;
  height: auto;
  padding: 0 20px;
}

.trouble-wrap__ttl {
  font-size: 26px;
  margin: 70px 0 40px 0;
}

.trouble-wrap__card--1 {
  display: flex;
  margin-bottom: 47px;
  padding: 0 15px;
}

.trouble-wrap__card--1__txt {
  font-size: 16px;
  margin: auto 0;
  text-align: left;
}

.trouble-wrap__card--1__img img {
  width: 65%;
}

.trouble-wrap__card--2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 47px;
  padding: 0 15px;
}

.trouble-wrap__card--2__txt {
  font-size: 16px;
  margin: auto 0;
  text-align: left;
}

.trouble-wrap__card--2__img img {
  width: 65%;
}

.trouble-wrap__card--3 {
  display: flex;
  margin-bottom: 47px;
  padding: 0 15px;
}

.trouble-wrap__card--3__txt {
  font-size: 16px;
  margin: auto 0;
  text-align: left;
}

.trouble-wrap__card--3__img img {
  width: 65%;
}

/* trouble終了 */
/* ここからsolution */
.solution-wrap {
  height: auto;
  background-color: #FFF7FB;
  padding-bottom: 70px;
}

.solution-wrap__ttl {
  text-align: center;
  font-size: 26px;
  padding-top: 70px;
}

.solution-wrap__item {
  text-align: left;
  margin: 0 auto;
}

.solution-wrap__item__number {
  font-size: 26px;
  margin: 40px 0 0 20px;
  color: #E37AB0;
}

.solution-wrap__item__ttl {
  font-size: 22px;
  margin: 0px 20px 25px 20px;
  text-align: left;
}

.solution-wrap__item__txt {
  margin: 0 20px 25px 20px;
}

.solution-wrap__item img {
  width: 80%;
  margin: 0 auto;
  display: block;
}

/* solution終了 */
/* ここからfeature */
.feature-wrap {
  text-align: center;
  padding: 70px 0px;
}

.feature-wrap__ttl {
  font-size: 26px;
  margin-bottom: 40px;
}

.feature-wrap .feature-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-wrap .feature-contents__item {
  width: 40%;
  box-shadow: 0 0 6px #E37AB0;
  box-sizing: border-box;
  margin: 6px;
  padding: 10px;
  border-radius: 15px;
}

.feature-wrap .feature-contents p {
  margin-top: 10px;
}

/* feature終了　*/
/* ここからcta-section */
.cta-section {
  text-align: center;
  padding: 70px 18px;
  background-color: #E37AB0;
}

.cta-section__ttl {
  font-size: 22px;
  color: white;
}

.cta-section__btn__item--blue {
  display: block;
  padding: 20px 130px;
  margin: 40px 0 25px 0;
  border-radius: 30px;
  color: white;
  background-color: #6F99E3;
}

.cta-section__btn__item--white {
  display: block;
  padding: 20px 130px;
  margin: 40px 0 25px 0;
  border-radius: 30px;
  color: #E37AB0;
  background-color: white;
}

/* cta-section終了 */
/* ここからcase */
.case-wrap {
  text-align: center;
}

.case-wrap__ttl {
  font-size: 26px;
  margin: 70px 0 40px 0;
}

.case-wrap__items {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.case-wrap__item {
  box-shadow: 0px 0px 6px #DDDDDD;
  position: relative;
  border-radius: 15px;
  width: 90%;
  margin-bottom: 100px;
  padding-bottom: 40px;
}

.case-wrap__item img {
  width: 100%;
}

.case-wrap__item--category {
  position: absolute;
  top: 63%;
  left: 5%;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #E37AB0;
}

.case-wrap__item--name {
  text-align: left;
  margin: 40px 0 20px 20px;
}

.case-wrap__item--txt {
  width: 100%;
  font-size: 20px;
  display: inline-block;
  word-wrap: break-word;
}

@media screen and (min-width: 769px) {
  /* ここからヘッダー　*/
  .top-header {
    display: flex;
    margin: auto 220px;
    justify-content: space-between;
  }
  .top-header__nav {
    display: flex;
  }
  .top-header nav {
    display: block;
    margin-left: 80px;
  }
  .top-header__cta {
    display: block;
    display: flex;
  }
  .top-header__list {
    margin: 0 10px;
  }
  .top-header__cta-btn {
    padding: 15px 20px;
    display: inline-block;
    border-radius: 30px;
    color: white;
  }
  .top-header .red {
    background: #E37AB0;
  }
  .top-header .blue {
    background: #6F99E3;
    margin-left: 10px;
  }
  /* ヘッダー終了 */
  /* ここからfirstview */
  .firstview-wrap {
    position: relative;
  }
  .firstview-wrap__background-img {
    background-image: url(./img/fv__bg-pc.svg);
  }
  .firstview-wrap__contents {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 40%;
  }
  .firstview-wrap__contents__ttl {
    font-size: 46px;
    line-height: 53px;
    margin-bottom: 25px;
  }
  .firstview-wrap__contents__txt {
    margin-bottom: 25px;
  }
  .firstview-wrap__contents__cta-btn--pc {
    background-color: #E37AB0;
    padding: 20px 80px;
    border-radius: 30px;
    display: inline-block;
    color: white;
  }
  .firstview-wrap__img {
    position: absolute;
    top: 10%;
    left: 60%;
    width: 33%;
  }
  .firstview-wrap__img img {
    width: 100%;
  }
  .firstview-wrap .firstview-wrap__cta-btn--sp {
    display: none;
  }
  /* firstview終了 */
  /* ここからabout */
  .about-wrap {
    position: relative;
    height: 600px;
    background-color: #FFF7FB;
    align-items: center;
  }
  .about-wrap__txt {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    font-size: 38px;
    line-height: 45px;
  }
  .about-wrap__img {
    position: absolute;
    top: 10%;
    left: -5%;
    width: 55%;
  }
  /* about終了 */
  /* ここからtrouble */
  .trouble-wrap {
    height: 600px;
  }
  .trouble-wrap__ttl {
    font-size: 38px;
  }
  .trouble-wrap .card-wrap {
    display: flex;
  }
  .trouble-wrap__card--1 {
    display: block;
    width: 100%;
  }
  .trouble-wrap__card--1__img img {
    width: 80%;
  }
  .trouble-wrap__card--1__txt {
    text-align: center;
    font-size: 22px;
    width: 60%;
    margin: 25px auto;
  }
  .trouble-wrap__card--2 {
    display: block;
    width: 100%;
  }
  .trouble-wrap__card--2__img img {
    width: 80%;
  }
  .trouble-wrap__card--2__txt {
    text-align: center;
    font-size: 22px;
    width: 60%;
    margin: 25px auto;
  }
  .trouble-wrap__card--3 {
    display: block;
    width: 100%;
  }
  .trouble-wrap__card--3__img img {
    width: 80%;
  }
  .trouble-wrap__card--3__txt {
    text-align: center;
    font-size: 22px;
    width: 60%;
    margin: 25px auto;
  }
  /* trouble終了 */
  /* ここからsolution */
  .solution-wrap {
    height: auto;
    padding: 0px 220px;
  }
  .solution-wrap .img-01, .solution-wrap .img-03 {
    margin-left: 90px;
  }
  .solution-wrap .img-02 {
    margin-right: 90px;
  }
  .solution-wrap div:nth-child(3) {
    flex-direction: row-reverse;
  }
  .solution-wrap__ttl {
    font-size: 38px;
    margin-bottom: 40px;
  }
  .solution-wrap__item {
    padding-bottom: 40px;
    display: flex;
    width: 100%;
  }
  .solution-wrap__item__number {
    font-size: 40px;
  }
  .solution-wrap__item__ttl {
    font-size: 32px;
  }
  .solution-wrap__item img {
    width: 100%;
    display: block;
  }
  /* solution終了 */
  /* ここからfeature */
  .feature-wrap {
    padding: 70px 220px;
  }
  .feature-wrap__ttl {
    font-size: 38px;
  }
  .feature-wrap .feature-contents {
    flex-wrap: nowrap;
  }
  .feature-wrap .feature-contents__item {
    margin: 0 10px;
    padding: 20px 30px;
    width: 100%;
  }
  /* feature終了 */
  /* ここからcta-section */
  .cta-section {
    text-align: center;
  }
  .cta-section__ttl {
    font-size: 32px;
  }
  .cta-section__btn {
    display: flex;
    justify-content: center;
  }
  .cta-section__btn__item--blue {
    margin-right: 12px;
  }
  .cta-section__btn__item--white {
    margin-left: 12px;
    padding: 20px 100px;
  }
  /* cta-section終了 */
  .case-wrap {
    padding-bottom: 70px;
  }
  .case-wrap__ttl {
    font-size: 38px;
    width: 100%;
  }
  .case-wrap__items {
    overflow-x: visible;
    width: 100%;
  }
  .case-wrap__item {
    margin: 0 15px;
    width: 18%;
  }
  .case-wrap__item img {
    width: 100%;
  }
  .case-wrap__item--category {
    position: absolute;
    top: 50%;
  }
  .case-wrap__item--txt {
    word-wrap: break-word;
  }
}
