a{
  text-decoration: none;
}

/* ここからヘッダー　*/
.header{
  height: 70px;
}

.top-header{
    align-items: center;
    height: inherit;
    nav{
    display: none;
  }
  &__cta{
    display: none;
  }
  &__logo{
    display: inline-block;
    margin: 20px 20px;
  }
  }

/* ここからfirst-view */

.firstview-wrap{
  text-align: center;
  position: relative;
  width: 100vw;
  height: 60vh;
  margin-bottom: 40px;
  background-image: url(img/fv__bg-sp.svg);
  background-size: cover;
  &__contents{
   padding-left: 20px;
   margin-top: 60px;
    &__cta-btn--pc{
      display: none;
    }
    &__ttl{
      font-size: 32px;
      margin-bottom: 25px;
      text-align: left;
    }
    &__txt{
      text-align: left;
    }
  }
  &__img{
    
    text-align: center;
    
    img{
      width: 80%;
    }
  }
  &__cta-btn--sp{
    padding: 20px 80px;
    background-color: #E37AB0;
    border-radius: 30px;
    display: inline-block;
    color: white;
  }
}
/* firstview終了 */

/* ここからabout */
.about-wrap{
  background-color: #FFF7FB;
  position: relative;
  height: 420px;
  width: 100%;
  &__img{
    width: 80%;
    position: absolute;
    top: 30%;
    left: 10%;
    display:block;
  }
  &__txt{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 77%;
    font-size: 16px;
  }
}
/* about終了 */

/* ここからtrouble */
.trouble-wrap{
  text-align: center;
  height: auto;
  padding: 0 20px;
  &__ttl{
    font-size: 26px;
    margin: 70px 0 40px 0;
  }
  &__card--1{
    display: flex;
    margin-bottom: 47px;
    padding: 0 15px;
    &__txt{
      font-size: 16px;
      margin: auto 0;
      text-align: left;
    }
    &__img img{
      width: 65%;
    }
  }
  &__card--2{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 47px;
    padding: 0 15px;
    &__txt{
      font-size: 16px;
      margin: auto 0;
      text-align: left;
    }
    &__img img{
      width: 65%;
    }
  }
  &__card--3{
    display: flex;
    margin-bottom: 47px;
    padding: 0 15px;
    &__txt{
      font-size: 16px;
      margin: auto 0;
      text-align: left;
    }
    &__img img{
      width: 65%;
    }
  }
}
/* trouble終了 */

/* ここからsolution */
.solution-wrap{
    height: auto;
    background-color: #FFF7FB;
    padding-bottom: 70px;
    &__ttl{
    text-align: center;
    font-size: 26px;
    padding-top: 70px;
    }
    &__item{
      text-align: left;
      margin: 0 auto;
      &__number{
        font-size: 26px;
        margin: 40px 0 0 20px;
        color: #E37AB0;
      }
      &__ttl{
        font-size: 22px;
        margin: 0px 20px 25px 20px;
        text-align: left;
      }
      &__txt{
      margin: 0 20px 25px 20px;
      }
      img{
        width: 80%;
        margin: 0 auto;
        display: block;
      }
    }
  }
/* solution終了 */

/* ここからfeature */
.feature-wrap{
    text-align: center;
    padding: 70px 0px;
    &__ttl{
      font-size: 26px;
      margin-bottom: 40px;
    }
    .feature-contents{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__item{
        width: 40%;
        box-shadow: 0 0 6px #E37AB0;
        box-sizing: border-box;
        margin: 6px;
        padding: 10px;
        border-radius: 15px;
      }
      p{
        margin-top: 10px;
      }
    }
  }
/* feature終了　*/

/* ここからcta-section */
.cta-section{
    text-align: center;
    padding: 70px 18px;
    background-color: #E37AB0;
    &__ttl{
      font-size: 22px;
      color: white;
    }
    &__btn{
      &__item--blue{
      display: block;
      padding: 20px 130px;
      margin: 40px 0 25px 0;
      border-radius: 30px;
      color: white;
      background-color: #6F99E3;
      }
      &__item--white{
      display: block;
      padding: 20px 130px;
      margin: 40px 0 25px 0;
      border-radius: 30px;
      color:#E37AB0;
      background-color:white;
      }
    }
  }
/* cta-section終了 */

/* ここからcase */
.case-wrap{
  text-align: center;
  &__ttl{
    font-size: 26px;
    margin: 70px 0 40px 0;
  }
  &__items{
    display: flex;
    overflow-x: scroll;
  }
  &__item{
    box-shadow: 0px 0px 6px #DDDDDD;
    border-radius: 15px;
    min-width: 90%;
    margin-bottom: 100px;
    padding-bottom: 40px;
    position: relative;
    img{
      width: 100%;
    }
    &--category{
      position: absolute;
      top: 57vw;
      left: 5%;
      padding: 5px 10px;
      background-color: white;
      border: 1px solid #E37AB0;
    }
    &--name{
      text-align: left;
      margin: 40px 0 20px 0;
    }
    &--txt{
      text-align: left;
      width: 100%;
      font-size: 20px;
      display: block;
      overflow-wrap: break-word;
    }
  }
}
/* ここからprice */
.price-wrap{
    text-align: center;
    align-items: center;
    &__ttl{
      font-size: 26px;
    }
    &__card{
      box-shadow: 0px 0px 6px #DEDEDE;
      margin: 40px 20px;
      border-radius: 15px;
      &--header{
        background-color: #6F99E3;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        p{
          color: white;
          padding: 10px 0 5px 0;
        }
        h2{
          font-size: 38px;
          color: white;
          padding: 10px 0 10px 0;
          span{
            font-size: 22px;
          }
        }
      }
      &--header--pink{
        background-color: #E37AB0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        p{
          color: white;
          padding: 10px 0 5px 0;
        }
        h2{
          font-size: 38px;
          color: white;
          padding: 10px 0 10px 0;
          span{
            font-size: 22px;
          }
        }
      }
      &--body{
        p{
          margin: 20px auto;
          border-bottom: 1px solid #DEDEDE;
          width: 300px;
          line-height: 30px;
          color: #535353;
        }
        a{
          display: inline-block;
          padding: 20px 100px;
          background-color: #E8E8E8;
          border-radius: 30px;
          color: black;
          margin: 15px 30px 30px 30px;
          white-space: nowrap;
          width: auto;
        }
      }
    }
  }
/* price終了 */

/* ここからqa */
.qa-wrap{
  padding: 70px 20px;
  text-align: center;
  &__ttl{
    font-size: 26px;
    margin-bottom: 40px;
  }
  .qa-list__item{
    margin-bottom: 30px;
    &--question{
    padding: 20px 40px;
    border: 1px solid #E37AB0;
    color: #E37AB0;
    border-radius: 15px;
    text-align: left;
    position: relative;
    :before{
      content: "Q";
      position: absolute;
      top: 57%;
      left: 10px;
      width: 30px;
      height: 30px;
      transform: translate(0, -50%);
      font-size: 22px;
      }
      :after{
      content: "∨";
      position: absolute;
      top: 62%;
      right: 10px;
      width: 30px;
      height: 30px;
      transform: translate(0, -50%);
      color: black;
      }
    }
    &--answer{
      text-align: left;
      padding: 20px 20px 20px 50px;
      position: relative;
      :before{
      content: "A";
      position: absolute;
      top: 22%;
      left: 10px;
      width: 30px;
      height: 30px;
      transform: translate(0, -50%);
      font-size: 22px;
      color: #6F99E3;
      font-weight: bold;
      }
    }
  }
}
/* qa終了 */

/* ここからフッター */
.footer{
  text-align: left;
  background-color: #FFF7FB;
  padding-top: 70px;
  .top-footer{
    img{
      margin: 0px 0px 20px 30px;
      display: inline-block;
    }
    &__contents{
      margin-left: 70px;
      line-height: 40px;
    }
  }
  small{
    margin: 0 auto;
    display: block;
  }
}
.footer__copy{
  text-align: center;
  background-color: #FFF7FB;
  padding-top: 70px;
  small{
    padding: 20px 140px;
    display: block;
  }
}
/* フッター終了 */


@media screen and (min-width: 769px){

  /* ここからヘッダー　*/
  .top-header{
    display: flex;
    margin: auto 220px;
    justify-content: space-between;
    &__nav{
      display: flex;
    }
    nav{
    display: block;
    margin-left: 80px;
  }
  &__cta{
    display: block;
    display: flex;
  }
  &__list{
    margin: 0 10px;
  }
  &__cta-btn{
    padding: 15px 20px;
    display: inline-block;
    border-radius: 30px;
    color: white;
  }
  .red{
    background: #E37AB0;
  }
  .blue{
    background: #6F99E3;
    margin-left: 10px;
  }
  }
  /* ヘッダー終了 */

  /* ここからfirstview */
  
  .firstview-wrap{
    position: relative;
    background-image: url(img/fv__bg-pc.svg);
    background-size: cover;

    &__contents{
      position: absolute;
      top: 20%;
      left: 15%;
      width: 40%;
      &__ttl{
        font-size: 46px;
        line-height: 53px;
        margin-bottom: 25px;
      }
      &__txt{
        margin-bottom: 25px;
      }
      &__cta-btn--pc{
        background-color: #E37AB0;
        padding: 20px 80px;
        border-radius: 30px;
        display: inline-block;
        color: white;
      }
    }
    &__img{
      position: absolute;
      top: 10%;
      left: 60%;
      width: 33%;
      img{
        width: 100%;
      }
    }
    .firstview-wrap__cta-btn--sp{
      display: none;
    }
  }
  /* firstview終了 */

  /* ここからabout */
  .about-wrap{
    position: relative;
    height: 600px;
    background-color: #FFF7FB;
    align-items: center;
    &__txt{
      position: absolute;
      top: 40%;
      left: 50%;
      width: 50%;
      font-size: 38px;
      line-height: 45px;
    }
    &__img{
      position: absolute;
      top: 10%;
      left: -5%;
      width: 55%;
    }
  }
  /* about終了 */

  /* ここからtrouble */

  .trouble-wrap{
    height: 600px;
    &__ttl{
      font-size: 38px;
    }
    .card-wrap{
      display: flex;
    }
    &__card--1{
      display: block;
      width: 100%;
      &__img img{
        width: 80%;
      }
      &__txt{
        text-align: center;
        font-size: 22px;
        width: 60%;
        margin: 25px auto;
      }
    }
    &__card--2{
      display: block;
      width: 100%;
      &__img img{
        width: 80%;
      }
      &__txt{
        text-align: center;
        font-size: 22px;
        width: 60%;
        margin: 25px auto;
      }
    }
    &__card--3{
      display: block;
      width: 100%;
      &__img img{
        width: 80%;
      }
      &__txt{
        text-align: center;
        font-size: 22px;
        width: 60%;
        margin: 25px auto;
      }
    }
  }
  /* trouble終了 */

  /* ここからsolution */
  .solution-wrap{
    height: auto;
    padding: 0px 220px;
    .img-01,.img-03{
      margin-left: 90px;
    }
    .img-02{
      margin-right: 90px;
    }
    div:nth-child(3){
    flex-direction: row-reverse;
    }
    &__ttl{
      font-size: 38px;
      margin-bottom: 40px;
    }
    &__item{
      padding-bottom: 40px;
      display: flex;
      width: 100%;
      &__number{
        font-size: 40px;
      }
      &__ttl{
        font-size: 32px;
      }
      img{
        width: 100%;
        display: block;
      }
    }
  }
  /* solution終了 */
  /* ここからfeature */
  .feature-wrap{
    padding: 70px 220px;
    &__ttl{
      font-size: 38px;
    }
    .feature-contents{
      flex-wrap: nowrap;
      &__item{
        margin: 0 10px;
        padding: 20px 30px;
        width: 100%;
      }
    }
  }
  /* feature終了 */
  /* ここからcta-section */
  .cta-section{
    text-align: center;
    &__ttl{
      font-size: 32px;
    }
    &__btn{
      display: flex;
      justify-content: center;
      &__item--blue{
        margin-right: 12px;
      }
      &__item--white{
        margin-left: 12px;
        padding: 20px 100px;
      }
    }
  }
  /* cta-section終了 */
  /* ここからcase */
  .case-wrap{
    padding-bottom: 70px;
    &__ttl{
      font-size: 38px;
      width: 100%;
    }
    &__items{
      overflow-x: visible;
      white-space: normal;
      width: 100%;
    }
    &__item{
      margin: 0 15px;
      min-width: auto;
      width: 100%;
      position: relative;
      &--name{
        text-align: left;
        margin: 40px 0 20px 0;
      }
      img{
        width: 100%;
      }
      &--category{
        position: absolute;
        top: 11vw;
      }
      &--txt{
        word-wrap: break-word;
      }
    }
  }
  /* case終了 */
  /* ここからprice */
  .price-wrap{
    .blue{
      height: 80%;
    }
    &__ttl{
      font-size: 38px;
    }
    .card-wrap{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__card{
      margin: 40px 0;
    }
  }
  /* price終了 */
  /* ここからqa */
  .qa-wrap{
    padding: 0 320px;
    margin: 70px 0;
    &__ttl{
    font-size: 38px;
  }
  .qa-list__item{
    &--question{
    :before{
      content: "Q";
      position: absolute;
      top: 58%;
      left: 10px;
      }
      :after{
      content: "∨";
      position: absolute;
      top: 62%;
      right: 10px;
      }
    }
    &--answer{
      :before{
      content: "A";
      position: absolute;
      top: 35%;
      left: 10px;
      }
    }
  }
 }
 /* qa終了 */
 /* ここからフッター */
  .footer{
    .top-footer{
      vertical-align: top;
      display: flex;
      justify-content: space-around;
      padding-top: 70px;
      position: relative;
    }
    img{
      margin: initial;
      display: block;
      height: 90%;
    }
  }
}